#main {
    width: 100%;
}
#main-map {
    max-width: 100%;
}
#main-map object {
    max-width: 100%;
}
#main div {
    display: inline-block;
    vertical-align: top;
}
#main-controls {
    width: 10%;
    float: left;
    position: absolute;
    left: 0;
    border: 1px solid black;
}
