#main {
    width: 100%;
}
#main-map {
    max-width: 80%;
}
#main-map object {
    max-width: 80%;
}
#main div {
    display: inline-block;
    vertical-align: top;
}
#main-controls {
    width: 10%;
/*    float: right; */
    position: relative;
}
